<header>
  <div>
    <h3><a href="/">ClubLand</a></h3>
  </div>
  <nav>
    <ul>
      <% if (user && user.isMember) {%>
      <li><a href="/message/create">Create</a></li>
      <li><a href="/user/my-account">My account</a></li>
      <% } else if (user && !user.isMember) {%>
      <li><a href="/user/join-us">Join us</a></li>
      <li><a href="/message/create">Create</a></li>
      <li><a href="/user/my-account">My account</a></li>
      <% } else { %>
      <li><a href="/user/sign-up">Sign up</a></li>
      <li><a href="/user/log-in">Log in</a></li>
      <%}%>
    </ul>
  </nav>
</header>
