<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div>
      <div class="join-us-container">
        <h4>Join us!</h4>
        <h3>
          To join the exclusive Club Land... Club, you must first solve a
          riddle...
        </h3>
      </div>
      <div class="riddle-container">
        <img src="/images/door-of-durin.png" width="300px" height="500px" />
        <p>Speak ...... to enter</p>
      </div>
      <form class="join-us-form">
        <label for="name">Answer</label>
        <input type="text" name="riddle" id="riddle" required />
        <div class="riddle-error errors"></div>
        <button class="submit-button">Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
