<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div>
      <div class="my-account-container">
        <h4>Your account permissions</h4>
      </div>
      <div class="permissions-container">
        <h5>Permissions:</h5>
        <% if (user.isAdmin && !user.isMember) {%>
        <p>✓ Admin - you can delete posts</p>
        <p>
          ❌ Member - you can't view who posted and when. To become a member,
          click 'Join us' and solve the riddle
        </p>
        <% } else if (!user.isAdmin && user.isMember) { %>
        <p>❌ Admin - you can't delete posts. To become an Admin click here:</p>
        <p>✓ Member - you can view who posted and when</p>
        <% } else { %>
        <p>✓ Admin - you can delete posts</p>
        <p>✓ Member - you can view who posted and when</p>
        <%}%>
        <button class="log-out-button">Log out</button>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
