<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div>
      <h4>My account</h4>
      Your Club Land permissions: <% if (user.isAdmin && !user.isMember) {%>
      <p>Admins can delete posts</p>
      <p>
        To view who posted and when, click 'Join us' and solve the riddle to
        become a member
      </p>
      <% } else if (!user.isAdmin && user.isMember) { %>
      <p>Members can view who posted and when</p>
      <p>However, only Admins can delete posts</p>
      <% } else { %>
      <p>Admins can delete posts</p>
      <p>Members can view who posted and when</p>
      <%}%>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
