<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div>
      <h4>Become a member today!</h4>
      <form action="/user/sign-up" method="post" class="sign-up-form">
        <label for="name">First name</label>
        <input type="text" name="firstName" required />
        <div class="first-name errors"></div>
        <label for="name">Last name</label>
        <input type="text" name="lastName" required />
        <div class="second-name errors"></div>
        <label for="name">Username</label>
        <input type="text" name="username" required />
        <div class="username errors"></div>
        <label for="name">Password</label>
        <input type="password" name="password" required />
        <div class="password errors"></div>
        <label for="name">Confirm password</label>
        <input type="password" name="confirmPassword" required />
        <div class="confirm-password errors"></div>
        <label for="admin">Admin</label>
        <input type="checkbox" name="isAdmin" checked="true" />
        <button>Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
