<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div>
      <div class="sign-up-container">
        <h4>Become a member today!</h4>
      </div>
      <form class="sign-up-form">
        <label for="name">First name</label>
        <input type="text" name="firstName" required />
        <div class="first-name-error errors"></div>
        <label for="name">Last name</label>
        <input type="text" name="lastName" required />
        <div class="second-name-error errors"></div>
        <label for="name">Username</label>
        <input type="text" name="username" required />
        <div class="username-error errors"></div>
        <label for="name">Password</label>
        <input
          type="password"
          name="password"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$"
          title="Please enter a password that is between 8 and 20 characters long and contains at least one number, one capital letter and one special symbol(!@#$%^&*=+-_)"
          id="password"
          required
        />
        <div class="password-error errors"></div>
        <label for="name">Confirm password</label>
        <input
          type="password"
          name="confirmPassword"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$"
          title="Please enter a password that is between 8 and 20 characters long and contains at least one number, one capital letter and one special symbol(!@#$%^&*=+-_)"
          id="confirm-password"
          required
        />
        <div class="confirm-password-error errors"></div>
        <label for="admin">Admin</label>
        <input
          type="checkbox"
          name="isAdmin"
          id="adminCheckbox"
          checked="true"
        />
        <button class="submit-button">Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
