body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: #ffffff;
  color: #09090b;
  font-family: 'Roboto Slab', serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid #d4d4d4;
}

header h3 {
  font-size: 30px;
}

header a {
  color: #2652cc;
}

header a,
nav a {
  text-decoration: none;
}

nav a {
  background-color: #2652cc;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

nav {
  align-self: center;
}

nav ul {
  display: flex;
  vertical-align: middle;
  gap: 30px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.errors {
  color: #dc2626;
}

footer {
  font-size: 15px;
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

label {
  font-size: 30px;
  margin-bottom: 5px;
}

input,
textarea {
  border: 2px solid #d4d4d4;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #2652cc;
}

.submit-button {
  margin-top: 10px;
  background-color: #2652cc;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #2249b4;
}
